@{
    ViewData["Title"] = "Admin page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-2">
        @Html.ActionLink("Products", "AdminProducts", "Admin", null, new {@class="btn btn-info"})
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("All users", "AdminUsers", "Admin", null, new {@class="btn btn-info"})
    </div>
</div>
<div class="container">
    @RenderBody()
</div>